@import "bootstrap/scss/bootstrap";
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#home-page {
  .home-wrapper {
    position: relative;
  }

  .gender-age {
    display: flex;
    justify-content: space-between;

    select,
    div {
      width: 50%;
    }

    select {
      margin-right: 1rem;
    }
  }

  .btn-info {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .validation-error {
    position: absolute;
    top: 0;
    transform: translate(0, -200%);
    opacity: 0;
    color: #ff0000;
    transition: all 0.2s;

    &.show {
      opacity: 1;
    }
  }
}

#animations {
  .black-curtain {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;

    .red-circle {
      width: 4em;
      height: 4em;
      background: red;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .different-circles {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .circle {
      display: flex;
      align-items: center;

      div {
        position: absolute;
      }
    }

    .left-circle {
      width: 17em;
      height: 17em;
      border: 2px solid black;
      border-radius: 50%;
    }

    .right-circle {
      width: 30em;
      height: 30em;
      border: 2px solid black;
      border-radius: 50%;
    }

    .middle-circle {
      width: 4em;
      height: 4em;
      background: red;
      border-radius: 50%;
    }

    &.flash-animation {
      .circle {
        animation: flash 2s 15; //15
      }
      @keyframes flash {
        0% {
          opacity: 1;
        }
        49% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }

  .same-circles {
    height: 100%;
    margin: 0 auto;

    .circles-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .circle {
      width: 22.5em;
      height: 22.5em;
      border: 2px solid black;
      border-radius: 50%;
    }

    .same-middle-circle {
      width: 4em;
      height: 4em;
      background: red;
      border-radius: 50%;
      border: none;
    }
  }

  .filled {
    background-color: black;
  }

  .buttons-container {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      width: 4em !important;
    }
  }
}

#final-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    width: 10em;
  }
}

#settings-page {
  p {
    margin: 0;
  }

  .close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
  }

  .save-btn {
    position: absolute;
    left: 50%;
    bottom: 2%;
    padding: 0.5em 3em;
    transform: translate(-50%, -50%);
  }

  .dimensions-setting {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    .form-control {
      padding: 0 !important;
    }
  }

  .circles {
    height: 55vh;

    .circle {
      display: flex;
      align-items: center;

      div {
        position: absolute;
      }
    }

    .settings-left-circle {
      width: 17em;
      height: 17em;
      border-radius: 50%;
      border: 2px solid black;
    }

    .settings-middle-circle {
      background: red;
      width: 4em;
      height: 4em;
      border-radius: 50%;
    }

    .settings-right-circle {
      width: 30em;
      height: 30em;
      border-radius: 50%;
      border: 2px solid black;
    }

    .filled {
      background-color: black;
    }
  }

  .first-page-setting {
    border: 1px solid black;
    border-radius: 1em;
  }
}
